.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.grid-item {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    width: calc(33.333% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease;
}

.grid-item:hover {
    transform: scale(1.05);
}

/* 설정 필요 */
.grid-item img {
    max-width: 100%;
    height: auto;
}

.description {
    padding: 5px 0;
}

.keyword {
    padding: 3px 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: block; /* 블록 요소로 변환 */
}

@media (max-width: 768px) {
    .grid-item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .grid-item {
        width: 100%;
    }
}